/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
}

#startPage {
  position: absolute;
  left: 0px;
  top: 0px;
  width:1400px;
  height: 750px;
  z-index: 2;
}
#startPageImage {
  position: absolute;
  left: 0px;
  top: 0px;
  width:1400px;
  height: 750px;
  z-index: 2;
}

#startPageGif {
  position: absolute;
  left: 0px;
  top: 170px;
  width:480px;
  height: 580px;
  z-index: 2;
}

#background {
  position: relative;
  left: 0px;
  top: 0px;
  width:1400px;
  height: 750px;
}

button {
  width: 280px;
  height: 50px;
  position:absolute;
  left: 100px;
  padding: 10px;
  background-color: yellow;
  border: 5px dotted;
  border-radius: 10px;
  color: blue;
  padding: 5px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}

.bodyPartsImages {
  position:absolute;
  left: 350px;
  top: 200px;
  width: 557px;
  height: 475px;
}

#headsButton {
  top: 300px;
}

#bodiesButton {
  top: 425px;
}

#legsButton {
  top: 550px;
}

#spinButton {
  top:100px;
  left: 475px;
  width: 250px;
  background-color: red;
  color: yellow;
}

#results {
  position:absolute;
  top:0px;
  left: 900px;
  height: 750px;
  width: 500px;
  /* border-style: solid;
  color:red; */
  overflow-y: scroll;
}

#results img {
  position:absolute;
  top:0px;
  left:0px;
  width: 220px;
  height: 188px;
}

#results div {
  float:left;
  position: relative;
  /* border-style: solid;
  color:black; */
  width: 220px;
  height: 188px;
}

#score {
  position: absolute;
  left:180px;
  top:100px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
}

.animatedCoin {
  position: absolute;
  left:0px;
  right: 0px;
  bottom:0px;
  top: 0px;
  width:50px;
  height:50px;
}

#animatedCoin {
  width:50px;
  height:50px;
  position: absolute;
  left:590px;
  top: 420px;
  /* border-style: solid;
  color:red; */
}

#scoreCoinImg {
  width:50px;
  height: 50px;
  position: absolute;
  top: 108px;
  left: 120px;
}
