body {
  margin-top: 60px;
  display:flex;
  flex: 1;
  flex-direction: column;
  background-color: ivory;
}

/* Style of the dialog box when the game starts */
.dialogStyle
  /* Hide close button */
  .ui-dialog-titlebar-close {
    display: none;
  }
   .ui-dialog-content {
    font-size: 40px;
    text-align: center;
  }

/* container in which the objects to sort are displayed */
.objectsContainer {
  width: 300px;
  height: 350px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* Style applied to the container image */
.containerImage {
  width:300px;
  height:350px;
  z-index: 1;
}

/* images of garbage, recycle and compost elements */
.objectsToSort {
  z-index: 3;
  position: absolute;
  /* top: 0;
  left: 0px; */
}

/* div that contains image of the bin, count divs and drop divs */
.bin {
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height: 286px;
  position: relative;
  z-index: 2;
}

/* bin image */
#bin {
  width:400px;
  height: 246px;
  position: absolute;
  top:40px;
}

/* Where the number of sorted garbage objects is displayed */
#garbageCount {
  position:absolute;
  top:0px;
  left:0px;
  /* color: green;
  border-style: solid; */
  width:33%;
  height:40px;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

/* Where the number of sorted recycle objects is displayed */
#recycleCount {
  position:absolute;
  top:0px;
  left:33%;
  width:33%;
  height:40px;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

/* Where the number of sorted compost objects is displayed */
#compostCount {
  position:absolute;
  top:0px;
  right:0px;
  float:left;
  width:33%;
  height:40px;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

/* The location where to drop garbage */
.garbage {
  position:absolute;
  top:40px;
  left:0px;
  width:33%;
  height:85px;
  margin-top: 40px;
}

/* The location where to drop recycle */
.recycle {
  position:absolute;
  top:40px;
  left:33%;
  /* color: red;
  border-style: solid; */
  width:33%;
  height:85px;
  margin-top: 40px;
}

/* The location where to drop compost */
.compost {
  position:absolute;
  top:40px;
  right:0px;
  float:left;
  /* color: red;
  border-style: solid; */
  width:33%;
  height:85px;
  margin-top: 40px;
}
