/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
  width: 1400px;
  /* width: 700px; */
  height: 800px;
  background-color: yellow;
  background-size: 800px 1400px;
  background: url('../assets/images/ground-10.png') no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* border-style: solid; */
}

#progressbar {
  position: fixed;
  height: 10px;
  width:98%;
  top: 15px;
  left: 10px;
  margin-right: auto;
}

.ui-progressbar .ui-progressbar-value {
  background-color: red
}

#scoreBox {
  position: fixed;
  font-size: 15px;
  top: 40px;
  left: 10px;
  padding: 5px 2px;
  background-color: white;
  color: grey;
  border-style: solid;
  width: 90px;
  align-items: center;
  text-align: center;
}

#score {
  font-size: 40px;
  margin: 0px 0px;
}

#player {
	  position: absolute;
	  top: 200px;
	  left: 200px;
	  width: 132px;
	  height: 131px;
    background: url('../assets/images/characters-08.png') no-repeat;
    background-position: 0px 0px;
    /* border-style: solid; */
}

/* Dialog box: */
/* Hide the close button */
.dialogStyle .ui-dialog-titlebar-close {
    display: none;
  }
/* Content of the dialog box */
.dialogStyle .ui-dialog-content {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
/* Title bar of the diaog box */
.dialogStyle .ui-dialog-titlebar {
      background-color: black;
      height: 40px;
    }

.character {
  display: block;
    padding: 0px 0px;
    margin: 0px 0px;
	  position: absolute;
	  top: 200px;
	  left: 200px;
	  width: 132px;
	  height: 131px;
    border-style: solid;
    background-position: 0px 0px;
}

.paperRoll {
  position: absolute;
  width: 59px;
  height: 78px;
  background: url('../assets/images/toiletPaperRoll.png') no-repeat;
  background-position: 0px 0px;
  /* border-style: solid; */
}

#newGameButton {
  display:none;
}
