/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
body {
  padding: 0;
  margin: 0;
  width: 1400px;
  height: 800px;
  background-color: yellow;
  background-size: 800px 1400px;
  background: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  z-index: -1;
  background: url('../assets/images/titlePage.png') no-repeat;
}

#progressbar {
  position: fixed;
  height: 10px;
  width: 96%;
  top: 15px;
  left: 10px;
  margin: 0px 0px;
}

.ui-progressbar .ui-progressbar-value {
  background-color: red
}

#scoreBox {
  position: fixed;
  font-size: 15px;
  top: 40px;
  left: 10px;
  padding: 5px 2px;
  background-color: white;
  color: grey;
  border-style: solid;
  width: 90px;
  align-items: center;
  text-align: center;
  margin: 0px 0px;
  display: none;
}

#score {
  font-size: 40px;
  margin: 0px 0px;
}

#collectedProtection {
  width: 110px;
  height: 300px;
  align-items: center;
  background-color: white;
  position: fixed;
  font-size: 15px;
  top: 150px;
  left: 10px;
  color: grey;
  border-style: solid;
  display: none;
}

.protectionCollected {
  opacity: 0.25;
}

/* Div child of #collected Protection that will become green when the player becomes protected and the height will change according to the timer */
#timerBar {
  width: 110px;
  height: 300px;
  background-color: green;
  opacity: 0;
  position: fixed;
  font-size: 15px;
  top: 150px;
  left: 10px;
  border-style: solid;
  color: white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

#playerPerimeter {
  position: relative;
  width: 132px;
  height: 132px;
  color: red;
  left: 50%;
  top: 50%;
  display: none;
}

#perimeter {
  width: auto;
  height: auto;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1;
  display: none;
}

#player {
  position: absolute;
  width: 132px;
  height: 132px;
  background: url('../assets/images/player.png') no-repeat;
  background-position: 0px 0px;
  transform: rotate(15deg);
}

.sanitizerPerimeter {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 84px;
  height: 84px;
}

.sanitizer {
  display: block;
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 84px;
  height: 84px;
  background: url('../assets/images/handSanitizer.png') no-repeat;
  background-position: 0px 0px;
  transform-origin: 50% 50%;
}

.maskPerimeter {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 82px;
  height: 50px;
}

.mask {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 82px;
  height: 50px;
  background: url('../assets/images/mask.png') no-repeat;
  background-position: 0px 0px;
}

.overallPerimeter {
  width: 106px;
  height: 91px;
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
}

.overall {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 106px;
  height: 91px;
  background: url('../assets/images/overall.png') no-repeat;
  background-position: 0px 0px;
}

.glovePerimeter {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 39px;
  height: 72px;
}

.glove {
  display: block;
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 39px;
  height: 72px;
  background: url('../assets/images/glove.png') no-repeat;
  background-position: 0px 0px;
}

.characterPerimeter {
  position: absolute;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 132px;
  height: 132px;
}

.character {
  display: block;
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;
  width: 132px;
  height: 132px;
  background-position: 0px 0px;
  transform-origin: 50% 50%;
}

.paperRollPerimeter {
  position: absolute;
  width: 59px;
  height: 78px;
}

.paperRoll {
  position: absolute;
  width: 59px;
  height: 78px;
  background: url('../assets/images/toiletPaperRoll.png') no-repeat;
  background-position: 0px 0px;
}

/* Dialog box: */
/* Hide the close button */
.dialogStyle .ui-dialog-titlebar-close {
  display: none;
}

/* Content of the dialog box */
.dialogStyle .ui-dialog-content {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* Title bar of the diaog box */
.dialogStyle .ui-dialog-titlebar {
  background-color: black;
  height: 40px;
}

#newGameButton {
  display: none;
}

.titlePageButton  {
  background-color: white;
  border: 3px outset #43B9B9;
	border-radius: 10px;
  color: black;
  padding: 5px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#artistStatementButton {
  position: absolute;
  top:440px;
  left: 610px;
}

#startButton {
  position: absolute;
  top:500px;
  left: 640px;
}
