/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
  width: 2000px;
  height: 2000px;
  background-color: yellow;
}

#player {
	  position: absolute;
	  top: 200px;
	  left: 200px;
	  width: 132px;
	  height: 131px;
    background: url('../assets/images/characters-08.png') no-repeat;
    background-position: 0px 0px;
    /* border-style: solid; */
}
/* #player.standing {
  background-position: 0px 0px;
}
#player.leftFoot {
  background-position: -132px 0px;
}
#player.rightFoot {
  background-position: -264px 0px;
} */

.character {
	  position: absolute;
	  top: 200px;
	  left: 200px;
	  width: 132px;
	  height: 131px;
    /* background: url('../assets/images/characters-08.png') no-repeat; */
    border-style: solid;
    background-position: 0px 0px;
}
