/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  padding: 0;
  margin: 0;
  width: 1400px;
  /* width: 400px; */
  height: 800px;
  /* height: 400px; */
  background-color: yellow;
  background-size: 800px 1400px;
  background: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  /* border-style: solid; */
  z-index: -1;
}

#progressbar {
  position: fixed;
  height: 10px;
  width:96%;
  top: 15px;
  left: 10px;
  margin: 0px 0px;
}

.ui-progressbar .ui-progressbar-value {
  background-color: red
}

#scoreBox {
  position: fixed;
  font-size: 15px;
  top: 40px;
  left: 10px;
  padding: 5px 2px;
  background-color: white;
  color: grey;
  border-style: solid;
  width: 90px;
  align-items: center;
  text-align: center;
  margin: 0px 0px;
}

#score {
  font-size: 40px;
  margin: 0px 0px;
}

#playerPerimeter {
  position:relative;
  width: 132px;
  height: 132px;
  border-style: solid;
  color: red;
}
#perimeter {
  width: auto;
  height: auto;
  position:absolute;
  /* color:yellow; */
  /* border-style: solid; */
  /* left:50%; */
  /* top:50%; */
  width:400px;
  height:400px;
  z-index: -1;
}
#player {
	  position: absolute;
	  width: 132px;
	  height: 132px;
    background: url('../assets/images/characters-01.png') no-repeat;
    background-position: 0px 0px;
    /* border-style: solid; */
    transform: rotate(15deg);
}
.characterPerimeter {
  position:absolute;
  display: block;
    padding: 0px 0px;
    margin: 0px 0px;
	  width: 132px;
	  height: 132px;
    border-style: solid;
}
.character {
  display: block;
  position: absolute;
    padding: 0px 0px;
    margin: 0px 0px;
	  width: 132px;
	  height: 132px;
    /* border-style: solid; */
    background-position: 0px 0px;
    transform-origin: 50% 50%;
}

.paperRollPerimeter {
  position: absolute;
  width: 59px;
  height: 78px;
  /* border-style: solid; */
}

.paperRoll {
  position: absolute;
  width: 59px;
  height: 78px;
  background: url('../assets/images/toiletPaperRoll.png') no-repeat;
  background-position: 0px 0px;
  /* border-style: solid; */
}

/* Dialog box: */
/* Hide the close button */
.dialogStyle .ui-dialog-titlebar-close {
    display: none;
  }
/* Content of the dialog box */
.dialogStyle .ui-dialog-content {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
/* Title bar of the diaog box */
.dialogStyle .ui-dialog-titlebar {
      background-color: black;
      height: 40px;
    }

#newGameButton {
  display:none;
}
